.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 2rem auto;
    max-width: 90%;
    padding-top: 2rem;
    background-color: #F6F6F6;
    border-radius: 25px;
}
.card img{
    object-fit: cover;
    height: 340px;
    max-width: 340px;
    border-radius: 10px;
}
figcaption{
    border-radius: 0 0 10px 10px;
    position: relative;
    bottom: 5rem;
    background-color: rgba(000, 000, 000, 0.7)
}
.card-title{
    color: rgba(255, 255, 255, 0.767);
    padding-top: 0.5rem;
    height: 3.2rem;
    margin-left: 1rem;
    max-width: 220px;
}