.App-header {
  display: flex;
  justify-content: space-between;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 2rem;
}

.App-link {
  color: #61dafb;
}
#nav-items{
  display: flex;
}
a{
  text-decoration: none;
  color: #FF6060;
}
li{
  text-decoration: none;
  list-style-type: none;
  margin-left: 3rem;
  font-size: 24px;
}
li:active{
  text-decoration: underline;
}

