@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat/Montserrat-Light.otf') format('opentype');
}
body {
  margin: 0;
  font-family:'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
